{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8" />
    <title> تست سایت رضا </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by Mannatthemes" name="description" />
    <meta content="Mannatthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- App css -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'home/css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet" type="text/css" />
    
</head>

{% block body %}

{% endblock %}