{% extends "base.html" %}
{% load static %}

{% block body %}

<body class="account-body accountbg">
    <!-- Log In page -->
    <div class="row vh-100 ">

        <div class="container-fluid d-flex align-items-center justify-content-center">


            <div class="custom-card p-4">

                <h6 class="text-white">{{ error|safe }}</h6>

                <form method="post" action="{% url 'login' %}" wire:submit.prevent="login">
                    {%csrf_token%}

                    <div class="input-group">
                        <input name="first_name" type="text" class="form-control "
                            placeholder="نام و نام خانوادگی" wire:model.lazy="mobile">

                    </div>
                    <br>
                    <div class="input-group">
                        <input name="phone_number" type="text" class="form-control "
                            placeholder="لطفا شماره همراهتون رو وارد کنید" wire:model.lazy="mobile">
                    </div>
                    <br>


                    <button class="btn btn-white btn-block mt-2 custom-radius">تایید</button>

                </form>

            </div>

        </div>

    </div>

</body>

</html>

{% endblock %}