{% extends "base.html" %}
{% load static %}

{% block body %}

<body class="account-body accountbg">
    <!-- Log In page -->
    <div class="row vh-100 ">

        <div class="container-fluid d-flex align-items-center justify-content-center">


            <div class="custom-card p-4">
                <div class="container-fluid p-0 ">

                    <h6 class="text-white">{{ error|safe }}</h6>


                    <form method="post" action="{% url 'verify' %}" wire:submit.prevent="login">
                        {%csrf_token%}

                        <div class="input-group">
                            <input name="code_num" type="text" class="form-control "
                                placeholder="کدارسال شده رو اینجا وارد کنید" wire:model.lazy="mobile">
                        </div>


                        <button class="btn btn-white btn-block mt-2 custom-radius">تایید</button>
                        <br>
                        <br>
                        <a class="btn btn-white btn-block mt-2 custom-radius" href="/">شماره رو اشتباه وارد کردم</a>


                    </form>

                </div>

            </div>

        </div>

</body>

</html>

{% endblock %}